<footer class="flex justify-between pt-2 mt-4 align-middle border-t">
  <div>
    <button class="w-10 h-10 align-middle bg-white rounded">
      <a href="/">
        <img src="../assets/images/nazgul_logov1.png" alt="airnazgul_logo" />
      </a>
    </button>
    <span class="text-white text-md"> © 2023 Airnazgul, Inc</span>
  </div>
  <div class="flex gap-2">
    <button class="w-10 h-10 align-middle rounded">
      <a href="https://www.facebook.com/profile.php?id=61550443251808">
        <img
          src="../assets/images/social/facebook_icon.png"
          alt="airnazgul_logo"
        />
      </a>
    </button>
    <button class="w-10 h-10 align-middle rounded">
      <a href="https://www.facebook.com/profile.php?id=61550443251808">
        <img
          src="../assets/images/social/instagram_icon.png"
          alt="airnazgul_logo"
        />
      </a>
    </button>
    <button class="w-10 h-10 align-middle rounded">
      <a href="https://www.facebook.com/profile.php?id=61550443251808">
        <img
          src="./assets/images/social/linked_in_icon.png"
          alt="airnazgul_logo"
        />
      </a>
    </button>
  </div>
</footer>
