<!-- <footer
  class="flex-wrap py-3 my-4 d-flex justify-content-between align-items-center border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <a
      href="/"
      class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
    >
      <input
        type="image"
        class="rounded"
        src="../assets/images/nazgul_logov1.png"
        alt="Airnazgul"
        width="35"
        height="35"
        style="background-color: white"
      />
    </a>
    <span class="mb-3 mb-md-0 text-body-primary" style="color: white"
      >© 2023 Airnazgul, Inc</span
    >
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.facebook.com/profile.php?id=61550443251808"
      >
        <input
          type="image"
          class="rounded"
          src="../assets/images/social/facebook_icon.png"
          alt="Airnazgul"
          width="35"
          height="35"
        />
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.facebook.com/profile.php?id=61550443251808"
      >
        <input
          type="image"
          class="rounded"
          src="../assets/images/social/instagram_icon.png"
          alt="Airnazgul"
          width="35"
          height="35"
        />
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.facebook.com/profile.php?id=61550443251808"
      >
        <input
          type="image"
          class="rounded"
          src="../assets/images/social/twitter_icon.png"
          alt="Airnazgul"
          width="35"
          height="35"
        />
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.facebook.com/profile.php?id=61550443251808"
      >
        <input
          type="image"
          class="rounded"
          src="../assets/images/social/linked_in_icon.png"
          alt="Airnazgul"
          width="35"
          height="35"
        />
      </a>
    </li>
  </ul>
</footer> -->
<footer class="flex justify-between pt-2 mt-5 align-middle border-t">
  <div>
    <button class="w-10 h-10 align-middle bg-white rounded">
      <a href="/">
        <img src="../assets/images/nazgul_logov1.png" alt="airnazgul_logo" />
      </a>
    </button>
    <span class="text-white text-md"> © 2023 Airnazgul, Inc</span>
  </div>
  <div class="flex gap-2">
    <button class="w-10 h-10 align-middle rounded">
      <a href="https://www.facebook.com/profile.php?id=61550443251808">
        <img
          src="../assets/images/social/facebook_icon.png"
          alt="airnazgul_logo"
        />
      </a>
    </button>
    <button class="w-10 h-10 align-middle rounded">
      <a href="https://www.facebook.com/profile.php?id=61550443251808">
        <img
          src="../assets/images/social/instagram_icon.png"
          alt="airnazgul_logo"
        />
      </a>
    </button>
    <button class="w-10 h-10 align-middle rounded">
      <a href="https://www.facebook.com/profile.php?id=61550443251808">
        <img
          src="./assets/images/social/linked_in_icon.png"
          alt="airnazgul_logo"
        />
      </a>
    </button>
  </div>
</footer>
