<h2
  class="pt-12 pb-3 text-3xl font-semibold text-center text-white font-outfit"
>
  PASS
</h2>
<c-carousel [interval]="5000">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner class="rounded">
    <c-carousel-item *ngFor="let slide of images">
      <img
        alt="{{ slide.alt }}"
        class="d-block w-100"
        loading="lazy"
        src="{{ slide.imgurl }}"
      />
      <c-carousel-caption class="hidden md:block">
        <h3 class="text-xl font-semibold text-white text-shadow-sm">
          {{ slide.alt }}
        </h3>
        <!-- <p>{{ slide.subtitle }}</p> -->
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control
    [routerLink]
    caption="Previous"
    direction="prev"
  ></c-carousel-control>
  <c-carousel-control
    [routerLink]
    caption="Next"
    direction="next"
  ></c-carousel-control>
</c-carousel>
