<div class="relative">
  <input
    [value]="createDestinationString(initialValue)"
    class="h-8 px-3 py-2 border outline-none rounded-xl shadow-sharp focus:border-primary"
    type="text"
    [placeholder]="searchBarType"
    autocomplete="off"
    (keyup)="onSearch($event)"
    #searchBar
  />

  <ul
    class="absolute left-0 right-0 z-50 overflow-y-auto bg-white rounded cursor-pointer bottom-0-0 list-group max-h-96"
    id="myList"
    *ngIf="listVisible"
  >
    <li
      class="px-2 py-1 transition-all list-group-item hover:bg-primary hover:text-white"
      *ngFor="let item of result; let i = index"
      [ngClass]="{ selected: i === listIndex }"
    >
      <div class="" (click)="onClick($event, i)">
        <span>{{ item.realm }}, </span>
        <span>{{ item.settlement }}</span>
      </div>
    </li>
  </ul>
</div>
