<div class="container border rounded bg-white p-4">
    <h2>PAST OFFERS - BEST PRICE per FLIGHT</h2>
    <app-pass [realm]="'Rohan'" [settlements]="rohanDestinations"></app-pass>
    <app-pass [realm]="'Gondor'" [settlements]="gondorDestinations"></app-pass>
    <app-pass [realm]="'Enedwaith'" [settlements]="enedwaithDestinations"></app-pass>
    <app-pass [realm]="'Eriador'" [settlements]="eriadorDestinations"></app-pass>
    <app-pass [realm]="'Rhovanion'" [settlements]="rhovanionDestinations"></app-pass>
</div>