<div *ngIf="loginVisible">
  <div class="absolute top-0 bottom-0 left-0 right-0 z-50 backdrop-blur"></div>

  <div
    class="absolute top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center"
  >
    <div
      class="relative flex flex-col max-w-lg gap-4 px-12 py-3 mx-auto text-gray-600 bg-white rounded-2xl font-outfit"
    >
      <div class="absolute self-end top-2 right-3">
        <button class="p-3 cursor-pointer" (click)="closeModal()">X</button>
      </div>
      <h3 class="self-center mt-8 text-2xl font-bold text-black">
        Welcome back!
      </h3>
      <div class="pl-3 font-medium text-black">Login</div>
      <form
        (ngSubmit)="onSubmit(loginForm)"
        #loginForm="ngForm"
        class="flex flex-col gap-3"
      >
        <div>
          <input
            [ngClass]="{
              'green-border': !!userObject,
              'red-border': userObject === null
            }"
            name="email"
            class="w-full px-3 py-1 border border-gray-400 rounded-lg focus:outline-none"
            type="text"
            placeholder="Email:"
            [(ngModel)]="formData.email"
          />
        </div>
        <div>
          <input
            [ngClass]="{
              'green-border': !!userObject,
              'red-border': userObject === null
            }"
            name="password"
            class="w-full px-3 py-1 border border-gray-400 rounded-lg input focus:outline-none"
            type="password"
            placeholder="Password:"
            [(ngModel)]="formData.password"
          />
        </div>
        <div>
          <p class="p-0 m-0 red-text" *ngIf="userObject === null">
            {{ passValidateMsg }}
          </p>
        </div>
        <div class="pl-3 text-sm"><a href="">Forgot your password?</a></div>
        <div class="self-end text-right">
          <button
            type="submit"
            class="px-3 py-2 text-white cursor-pointer rounded-xl bg-[#2D4946]"
          >
            Log in
          </button>
          <div>
            Don't have an account yet? Register:
            <a class="underline" role="button" (click)="showRegister()">here</a
            >!
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Sign Up Modal -->
<!-- <div
  class="modal fade"
  id="registerModal"
  data-mdb-backdrop="false"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close justify-content-end">
          <button
            #CloseButton
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="p-0 modal-header">
          <h2 class="modal-title" id="loginModalLabel">Sign Up</h2>
        </div>
      </div>
      <form *ngIf="!isRegisteredSuccessful" (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
      <div class="modal-body">
        <div class="input-container">
          <input
            class="m-0 mb-1 def-input"
            [ngClass]="{
              'green-border': userValidateStatus && !defUserInputClass,
              'red-border': !userValidateStatus && !defUserInputClass
            }"
            id="username"
            name="username"
            placeholder="Username:"
            autocomplete="off"
            (keyup)="onSearch($event)"
            [(ngModel)]="registerData.userName"
          />
          <p
            class="p-0 m-0"
            *ngIf="userValidateMsgVisible"
            [ngClass]="{
              'green-text': userValidateStatus,
              'red-text': !userValidateStatus
            }"
          >
            {{ userValidateMsg }}
          </p>
        </div>
        <div class="input-container">
          <input
            class="m-0 mb-1 def-input"
            [ngClass]="{
              'green-border': emailValidateStatus && !defEmailInputClass,
              'red-border': !emailValidateStatus && !defEmailInputClass
            }"
            type="email"
            id="email"
            name="email"
            placeholder="Email:"
            autocomplete="off"
            (keyup)="onSearch($event)"
            [(ngModel)]="registerData.email"
          />
          <p
            class="p-0 m-0"
            *ngIf="emailValidateMsgVisible"
            [ngClass]="{
              'green-text': emailValidateStatus,
              'red-text': !emailValidateStatus
            }"
          >
            {{ emailValidateMsg }}
          </p>
        </div>
        <div class="input-container">
          <div class="flex-row-reverse pass-field d-flex">
            <input
              class="m-0 mb-1 def-input"
              [ngClass]="{
                'green-border': passValidateStatus && !defPassInputClass,
                'red-border': !passValidateStatus && !defPassInputClass
              }"
              type="password"
              id="password"
              name="password"
              placeholder="Password:"
              autocomplete="off"
              (keyup)="onSearch($event)"
              [(ngModel)]="registerData.password"
            />
            <span (click)="togglePassword($event)" class="toggle-password">
              <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
            </span>
          </div>
          <div class="mt-1 pass-valid-container" *ngIf="passValidateMsgVisible">
            <p class="p-0 m-0">Password must contain:</p>
            <ul>
              <li
                [ngClass]="{
                  'green-text': !passToShort,
                  'red-text': passToShort
                }"
              >
                Minimum 8 characters
              </li>
              <li
                [ngClass]="{
                  'green-text': !passToLong,
                  'red-text': passToLong
                }"
              >
                Maximum 32 characters
              </li>
              <li
                [ngClass]="{
                  'green-text': passLCase,
                  'red-text': !passLCase
                }"
              >
                At least one lowercase letter
              </li>
              <li
                [ngClass]="{
                  'green-text': passUCase,
                  'red-text': !passUCase
                }"
              >
                At least one uppercase letter
              </li>
              <li
                [ngClass]="{
                  'green-text': passNumChr,
                  'red-text': !passNumChr
                }"
              >
                At least one number
              </li>
              <li
                [ngClass]="{
                  'green-text': passSpecChr,
                  'red-text': !passSpecChr
                }"
              >
                At least one of the following: <br />
                &#33; &#8220; &#35; &#36; &#37; &#38; &#39; &#40; &#41; &#42; &#43; &#44; &#45; &#46; &#47; &#58; &#59;
                &#61; &#62; &#63; &#64; &#91; &#92; &#93; &#94; &#95; &#96; &#123; &#124; &#125;
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-0 modal-footer flex-column align-items-end">
        <div>
          <button type="submit" class="btn btn-primary" id="submit">Register</button>
        </div>
        <div>
          <p>
            back to
            <a data-bs-target="#loginModal" data-bs-toggle="modal"> login</a>
          </p>
        </div>
      </div>
    </form>
    <p *ngIf="isRegisteredSuccessful" style="color: green;">
      The registration was successful
    </p>
    </div>
  </div>
</div> -->
