<div class="content" #calendarContainer>
  <input
    [disabled]="disabled"
    id="datepicker-input"
    class="form-control"
    placeholder="Pick a date"
    type="text"
    [value]="actualDate"
    autocomplete="off"
    (click)="onInputFieldClick()"
  />
  <div class="rounded" *ngIf="calendarVisible">
    <div class="calendar-header" (click)="onSwitchMonth()" *ngIf="dayVisible">{{ month }}</div>
    <div class="calendar-header" (click)="onSwitchYear()" *ngIf="monthVisible || yearVisible">{{ year }}</div>
    <div class="calendar month" *ngIf="monthVisible">
      <div *ngFor="let item of monthList; let i = index" (click)="onMonthClick(item, i)">
        {{ item }}
      </div>
    </div>
    <div class="calendar year" *ngIf="yearVisible">
      <div *ngFor="let item of yearList" (click)="onYearClick(item)">
        {{ item }}
      </div>
    </div>
    <div class="calendar day" *ngIf="dayVisible">
      <div *ngFor="let day of calendar.previous" class="disabled">
        {{ day }}
      </div>
      <div *ngFor="let day of calendar.current" [ngClass]="{ disabled: day.disabled }" (click)="onDayClick(day)">
        {{ day.value }}
      </div>
      <div *ngFor="let day of calendar.next" class="disabled">
        {{ day }}
      </div>
    </div>
  </div>
</div>
