<div class="mt-3 bg-white flex flex-col h-[1100px] rounded-xl font-outfit">
  <div class="px-2">
    <div class="h-96">Cart summary</div>
    <div class="border-t-2 border-gray-600">
      User credentials
      <form action="submit">
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="First Name" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="Last Name" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="Email" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="Country" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="City" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="Zip Code" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="Address" />
        </div>
        <div class="px-3 py-2">
          <input type="text" class="form-input" placeholder="Description" />
        </div>
        <app-payment-selector></app-payment-selector>
      </form>
    </div>
  </div>
  <div></div>
</div>
