<h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Payment method</h3>
<ul class="max-w-lg text-sm font-medium text-gray-900">
  <li class="payment-item">
    <div class="flex items-center ps-3">
      <input
        id="list-radio-license"
        type="radio"
        value=""
        name="list-radio"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
      />
      <label
        for="list-radio-license"
        class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
        >Paypal
      </label>
    </div>
  </li>
  <li class="payment-item">
    <div class="flex items-center ps-3">
      <input
        id="list-radio-id"
        type="radio"
        value=""
        name="list-radio"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
      />
      <label
        for="list-radio-id"
        class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
        >Credit/Debit Card</label
      >
    </div>
  </li>
  <li class="payment-item">
    <div class="flex items-center ps-3">
      <input
        id="list-radio-military"
        type="radio"
        value=""
        name="list-radio"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
      />
      <label
        for="list-radio-military"
        class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
        >GPay</label
      >
    </div>
  </li>
  <li class="payment-item">
    <div class="flex items-center ps-3">
      <input
        id="list-radio-passport"
        type="radio"
        value=""
        name="list-radio"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
      />
      <label
        for="list-radio-passport"
        class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
        >Apple Pay</label
      >
    </div>
  </li>
</ul>
