<div *ngIf="registerVisible">
  <!-- Modal Background -->
  <div class="absolute top-0 bottom-0 left-0 right-0 z-50 backdrop-blur"></div>
  <!-- Login Modal -->
  <div
    class="absolute top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center"
  >
    <div
      class="relative flex flex-col max-w-lg gap-4 px-12 py-3 mx-auto text-gray-600 bg-white rounded-2xl font-outfit min-w-[20%]"
    >
      <div class="absolute self-end top-2 right-3">
        <button class="p-3 cursor-pointer" (click)="closeModal(Form)">X</button>
      </div>
      <h3 class="self-center mt-8 text-2xl font-bold text-black">Sign Up</h3>

      <form (ngSubmit)="onSubmit()" #Form="ngForm" class="flex flex-col gap-3">
        <div>
          <input
            [(ngModel)]="userData.username"
            name="username"
            class="w-full px-3 py-1 border border-gray-400 rounded-lg focus:outline-none"
            [ngClass]="{ 'border-red-600': !!errorMsgs['username'] }"
            type="text"
            placeholder="Username:"
          />
        </div>
        <div class="text-red-600">
          <div *ngFor="let error of errorMsgs['username']">{{ error }}</div>
        </div>
        <div>
          <input
            [(ngModel)]="userData.email"
            name="email"
            class="w-full px-3 py-1 border border-gray-400 rounded-lg focus:outline-none"
            type="text"
            placeholder="Email:"
          />
        </div>
        <div class="min-h-[20px] text-red-600">
          <div *ngFor="let error of errorMsgs['email']">{{ error }}</div>
        </div>
        <div>
          <input
            [(ngModel)]="userData.password"
            (input)="onPassword($event)"
            #password
            name="password"
            class="w-full px-3 py-1 border border-gray-400 rounded-lg input focus:outline-none"
            type="text"
            placeholder="Password:"
          />
        </div>
        <div>
          <input
            [(ngModel)]="userData.confirmPassword"
            (input)="onPasswordConfirm($event)"
            #confirmPassword
            name="confirm-password"
            class="w-full px-3 py-1 border border-gray-400 rounded-lg input focus:outline-none"
            type="text"
            placeholder="Confirm password:"
          />
        </div>
        <div class="p-0 m-0">
          <div>Password requirements:</div>
          <div class="pl-5">
            <ul>
              <li
                [innerHTML]="item"
                [ngClass]="{
                  'text-green-600': passwordRequirements.includes(item)
                }"
                class="list-disc"
                *ngFor="let item of passErrorFields"
              ></li>
            </ul>
          </div>
        </div>

        <div class="self-end text-right">
          <button
            type="submit"
            class="px-3 py-2 text-white cursor-pointer rounded-xl bg-[#2D4946]"
          >
            Sign Up
          </button>
          <div>
            Back to >
            <a class="underline" role="button" (click)="showLogin()">login</a>!
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
